
* {
  box-sizing: border-box;
}

body {
  background-color:lightgray;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container{
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(red, green, blue, alpha);
  overflow: hidden;
  width: 300px;
}

.title{
  margin: 0;
}

.subtitle {
  display: inline-block;
  margin: 5px 0 20px;
  opacity: 0.8;
}

.header{
  background-color: blue;
  color: white;
  padding: 30px 20px
}

.header input{
  background-color: rgba(0, 0, 0, 0.3);
  border:0;
  border-radius: 50px;
  color: white;
  font-size: 14px;
  padding: 10px 15px;
  width:100%
}

.header input:focus{
  outline: none;
}

.driver-list{
  background-color: white;
  list-style-type: none;
  margin:0;
  padding: 0;
  max-height: 400px;
  overflow-y: auto;
}

.driver-list li{
  display: flex;
  padding: 20px;
}

.driver-list img{
  border-radius: 50%;
  object-fit: cover;
  height: 100px;
  width: 100px;
}

.driver-list .driver-info{
  margin-left: 10px;
}

.driver-list .driver-info h4{
  margin: 0 0 10px;
}

.driver-list .driver-info p{
  font-size: 12px;
}

.driver-list li.hide{
  display: none;
}